<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>
    <!-- <span class="icon-container"> -->
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron-icon"></use>
    </svg>
    <!-- </span> -->
  </header>
  <div class="collapsibe__content">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus
      exercitationem facilis error possimus nam, at corrupti asperiores
      veritatis. A, eius?
    </p>
  </div>
</div>
