<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible section__footer">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <span class="icon-container icon--small">
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron-icon"></use>
          </svg>
        </span>
      </header>
      <div class="collapsibe__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Webs Hosting</a></li>
          <li><a href="#">Migration</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible section__footer">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <span class="icon-container icon--small">
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron-icon"></use>
          </svg>
        </span>
      </header>
      <div class="collapsibe__content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus
          exercitationem facilis error possimus nam, at corrupti asperiores
          veritatis. A, eius?
        </p>
      </div>
    </section>

    <section class="collapsible section__footer">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <span class="icon-container icon--small">
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron-icon"></use>
          </svg>
        </span>
      </header>
      <div class="collapsibe__content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus
          exercitationem facilis error possimus nam, at corrupti asperiores
          veritatis. A, eius?
        </p>
      </div>
    </section>

    <section class="collapsible section__footer">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <span class="icon-container icon--small">
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron-icon"></use>
          </svg>
        </span>
      </header>
      <div class="collapsibe__content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus
          exercitationem facilis error possimus nam, at corrupti asperiores
          veritatis. A, eius?
        </p>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">
        &copy; All Rights Are Reserved Taam Technology
      </p>
    </section>
  </div>
</footer>
