.form {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.input_feild {
  padding: 0.5rem 1rem;
  height: 30px;
  outline: none;
  border: none;
  background-color: #fff;
  width: 450px;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
}
button {
  height: 47px;
  width: 80px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: lime;
  color: rgb(0, 0, 0);
  margin: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  color: #111;
}
.workList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  color: #fff;
}
.work {
  background-color: #4df11c;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
}
.work.done {
  background-color: #d17d7c;
  text-decoration: line-through;
}
.btnClear {
  float: right;
  margin-left: 40px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 0;
}
