<section class="block container feature">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p class="feature__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus,
      magni?
    </p>
  </header>
  <article class="grid grid-cols-2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam,
        exercitationem eveniet nobis voluptas veniam magni. Similique dolore
        labore fugiat quis.
      </p>
      <a href="" class="link-arrow">Link </a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="" />
  </article>
</section>
<section class="block container feature">
  <article class="grid grid-cols-2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Website</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam,
        exercitationem eveniet nobis voluptas veniam magni. Similique dolore
        labore fugiat quis.
      </p>
      <a href="" class="link-arrow">Link </a>
    </div>
    <img class="feature__image" src="images/fast.jpg" alt="" />
  </article>
</section>
<section class="block container feature">
  <article class="grid grid-cols-2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam,
        exercitationem eveniet nobis voluptas veniam magni. Similique dolore
        labore fugiat quis.
      </p>
      <a href="" class="link-arrow">Link </a>
    </div>
    <img class="feature__image" src="images/wordpress.jpg" alt="" />
  </article>
</section>
<section class="block container feature">
  <article class="grid grid-cols-2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam,
        exercitationem eveniet nobis voluptas veniam magni. Similique dolore
        labore fugiat quis.
      </p>
      <a href="" class="link-arrow">Link </a>
    </div>
    <img class="feature__image" src="images/support.jpg" alt="" />
  </article>
</section>
